#main-space {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding-bottom: var(--player-height);
}

.content {
    background-color: var(--bright);
    flex: 1;
    display: flex;
    flex-direction: column;
}

.top {
    min-height: 88px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 48px;
}

.workspace {
    flex: 1;
    overflow-y: auto;
    padding: 24px 48px;
}

#user-profile {
    min-height: 48px;
    min-width: 48px;
    background-color: white;
    border-radius: 50%;
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.08));
}

.search-results {
    width: inherit;
    height: inherit;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 200px));
    grid-row-gap: 24px;
}
