#main-space {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding-bottom: var(--player-height);
}

.wheat-color {
    background-color: wheat;
    flex: 1;
}
